@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar-thumb {
  background-color: var(--colorido);
  border-radius: 0.6vh;
}

::-webkit-scrollbar {
  background: transparent;
  height: 1vh;
  position: absolute;
  width: 1vh;
  background-color: var(--corFundo);
}

* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Poppins';
  margin: 0;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.05vh;
  resize: none;
  outline: none;
  border: 0;
  color: var(--corTexto);
  scroll-behavior: smooth;
}

/* root */
:root {
  --corTexto: #111;
  --corFundo: #ffffff;
  --colorido: #6882bc;
}

/* header */
header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 7%;
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9%;
}

header nav a {
  font-weight: 600;
  border-bottom: 2px solid var(--corFundo);
}

header nav a:hover {
  border-bottom: 2px solid var(--colorido);
}

header p {
  font-weight: 700;
  color: var(--colorido);
}

/* main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--corFundo);
}

main img {
  background-color: var(--corFundo);
  border-radius: 100%;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
  height: 45%;
}

h1 {
  font-weight: 800;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #5b5b5b;
}

h3 {
  font-weight: 700;
}

main button {
  background-color: var(--colorido);
  color: var(--corFundo);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 7px 45px 7px 45px;
  border-radius: 3px;
}

main button:hover {
  filter: brightness(80%);
}

.main-commun {
margin: 0.5%;
}

/* extras */
span {
  color: var(--colorido);
}

/* responsivo */
@media screen and (max-width: 1000px) {
  body header {
    height: 10%;
    width: 100%;
  }
  body header p {
    font-size: 2rem;
  }
  body header nav {
    width: 25%;
  }
  body header nav a {
    font-size: 2rem;
  }
  body main {
    width: 100%;
    height: 100%;
  }
  body main img {
    height: 27%;
  }
  body h1 {
    font-size: 4rem;
  }
  body h2 {
    font-size: 2.5rem;
  }
  body h3 {
    font-size: 3rem;
  }
  body main button {
    font-size: 4rem;
    font-weight: 500;
    padding: 7px 105px 7px 105px;
    border-radius: 5px;
  }
  body .main-commun {
    margin: 3%;
  }
}